.dep*
build/
build_kinetis/
pinouts
workarea
bundle_name.txt
out/
logs/
blbuild/
Debug_EMS/
Release_EMS/
Debug/
.settings/
*_ram_report.txt
doxygen/
/.idea
workspace.xml
java_console_binary
.vscode/.*
*.cmp
*.net
err.txt
log.txt
*.gerefi_binary
*.msq
*.kicad_prl
.*-sentinel

# Eclipse
.metadata/

# gerefi simulator makes logs, ignore those
gerefi_simulator_log.mlg
